body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #f0f0f0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

header div {
  text-align: center;
}

header img {
  border-radius: 50%;
  margin-right: 20px;
}

nav {
  background-color: #555;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffcc00;
}

section {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  text-align: left;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}